<div class="content">
  <body>
  <div>
    <h1>Profile details</h1>
    <mat-card class="profile-info" style="margin-left: 20px;">
      <img
        style="padding: 10px; border-radius: 100%;"
        width="260"
        height="245"
        [src]="fireService.profilePicture"
      >
      <div style="display: flex; flex-direction: column; align-items: center;">
        <mat-form-field style="width: 100%; margin-top: 20px;">
          <input matInput [(ngModel)]="fireService.user.firstname" name="firstname" id="firstname">
          <mat-label>First Name</mat-label>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 100%;">
          <input matInput [(ngModel)]="fireService.user.lastname" name="lastname" id="lastname">
          <mat-label>Last Name</mat-label>
        </mat-form-field>
        <br>
        <mat-form-field style="width: 100%;">
          <input matInput [(ngModel)]="fireService.user.email" type="email" name="email" id="email">
          <mat-label>Email</mat-label>
        </mat-form-field>
        <br>
        <div>
          <button class="save-button" mat-raised-button (click)="editProfile()">Save Changes</button>
        </div>
      </div>
      <br>
    </mat-card>
  </div>
  <div fxFlex="30%">
    <img style="margin-top: 200px; margin-left: 400px" src="https://media.discordapp.net/attachments/1042375108494377041/1111026114631041024/image.png" width="600px">
  </div>
  </body>
</div>
