.mat-card {
  width: 1200px;
  height: 800px;
}

.content {
  margin: 30px;
}

.spacer {
  flex: 1 1 auto;
}

.save-button{
  background-color: #4bad4b;
  color: white;
}

mat-card-title {
  color: darkgrey;
  font-size: 2.5rem;
}

mat-form-field {
  width: 255px;
}

.form-field {
  width: 480px;
}

.mat-raised-button{
  color: white;
  background: #219321;
  width: 225px;
  height: 50px;
}

.location-button{
  color: white;
  background: #219321;
  width: 125px;
  height: 50px;
}

