.mat-card {
  width: 80vw;
  height: 85vh;
}

.content {
  margin: 30px;
}

.spacer {
  flex: 1 1 auto;
}

.save-button{
  background-color: #4bad4b;
  color: white;
}

mat-card-title {
  margin-bottom: 15px;
  color: darkgrey;
  font-size: 2.5rem;
}

mat-form-field {
  width: 255px;
}

.form-field {
  width: 480px;
}

.mat-raised-button{
  color: white;
  background: #219321;
  width: 150px;
  height: 45px;
}

