<mat-toolbar class="main-mat-toolbar">
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row>
    <span style="margin-left: 5px; margin-right: 10px;"><img
      src="https://cdn.discordapp.com/attachments/1042375108494377041/1110110039198404659/image-removebg-preview_1.png"
      width="125" height="95"></span>
    <span style="font-size: 35px;">DriveTracking Solutions</span>
    <span class="spacer"></span>
    <img class="profile-picture" height="30" width="30"
         [src]="fireService.profilePicture">
    <span>{{firstname}} {{lastname}}</span>
    <button mat-icon-button style="align-self: center" [matMenuTriggerFor]="menu">
      <span><mat-icon>expand_more</mat-icon></span>
    </button>
    <mat-menu class="profile-dropdown" #menu="matMenu">
      <button mat-menu-item routerLink="/admin/profile-page">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="secondary-mat-toolbar">
  <mat-toolbar-row>
    <button mat-button routerLink="/admin/users" style="" class="toolbar-button">
      <mat-icon>person</mat-icon>
      <span>DTS Users</span>
    </button>
    <button mat-button routerLink="/admin/tours" class="toolbar-button">
      <mat-icon>navigation</mat-icon>
      <span>DTS Tours</span>
    </button>
    <button mat-button routerLink="/admin/tours" class="toolbar-button">
      <mat-icon>computer</mat-icon>
      <span>Information</span>
    </button>
    <button mat-button routerLink="/admin/tours" class="toolbar-button">
      <mat-icon>edit</mat-icon>
      <span>Support</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
