#deleteUserBtn:hover{
  color: red;
  cursor: pointer;
}

#editUserBtn:hover{
  color: #127912;
  cursor: pointer;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
