<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64233866167-eak5rtjvq8n7gvrthjnfhtmfanqqvi75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64233866167-eak5rtjvq8n7gvrthjnfhtmfanqqvi75</string>
	<key>API_KEY</key>
	<string>AIzaSyBMr-dnYSrDpzyZO9Uui3DnfR98DK74RaM</string>
	<key>GCM_SENDER_ID</key>
	<string>64233866167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driveTrackingSolutions</string>
	<key>PROJECT_ID</key>
	<string>drivetrackingsolution</string>
	<key>STORAGE_BUCKET</key>
	<string>drivetrackingsolution.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64233866167:ios:3cd3648d552165ec851e32</string>
</dict>
</plist>