.spacer{
  flex: 1 1 auto;
}

.tour-review-btn{
  color: white;
  background: #219321;
  width: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
