<mat-toolbar-row style="margin-top: 50px;">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John" #input>
  </mat-form-field>
</mat-toolbar-row>


<div class="mat-elevation-z8" style="margin-left: 15px;">
  <table mat-table [dataSource]="dataSource" matSort class="hover-tab">

    <!-- Id Column -->
    <ng-container matColumnDef="driver">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver</th>
      <td mat-cell *matCellDef="let tour"> {{tour.driver}} </td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start time</th>
      <td mat-cell *matCellDef="let tour"> {{tour.startTime}} </td>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> End time</th>
      <td mat-cell *matCellDef="let tour"> {{tour.endTime}} </td>
    </ng-container>

    <ng-container matColumnDef="totalTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total time</th>
      <td mat-cell *matCellDef="let tour"> {{tour.totalTime}} </td>
    </ng-container>

    <ng-container matColumnDef="viewTour">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let tour">
        <mat-action-list>
          <button mat-raised-button class="tour-review-btn" (click)="viewTour(tour)">
            <mat-icon>visibility</mat-icon>
            Full review of tour
          </button>
        </mat-action-list>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tours"></mat-paginator>
</div>
